body {
    font-family: 'Roboto', sans-serif;
}

#nav-bar {
    background-color: lightslategray;
    padding: 10px;
    top: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

#nav-bar a {
    text-decoration: none;
    color: black;
    text-align: center;
}

#nav-bar a:hover {
    background-color: darkgray;
    display: fixed;
    padding: 0px;
}

#header {
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.price-1 {
    text-align: center;
    border: groove;
    display: table;
}

.price-1 li {
    list-style-type: none;
}

.input-field {
    text-align: center;
}

#submit {
    text-align: center;
    background-color: #e7e7e7;
    color: black;
    margin-top: 15px;
    border-radius: 5px;
    padding: 10px 25px;
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

input[type=email] {
    border: 10px black;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 30px;
    width: 50%;
    cursor: pointer;
    background: lightgray;
    margin-bottom: 60px;
}

.video {
    text-align: center;
}

#freehostingH2 {
    background-color: lightgray;
    padding: 25px 25px 25px 25px;
}

#email-h2 {
    font-family: 'Roboto', sans-serif;
}


}