body {
    font-family: 'Roboto', sans-serif;
}

#nav-bar {
    background-color: lightslategray;
    padding: 10px;
    top: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

#nav-bar a {
    text-decoration: none;
    color: black;
    text-align: center;
}

#nav-bar a:hover {
    background-color: darkgray;
    display: fixed;
    padding: 0px;
}

#header {
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#submit {
    text-align: center;
    background-color: #e7e7e7;
    color: black;
    margin-top: 15px;
    border-radius: 5px;
    padding: 10px 25px;
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

input[type=email] {
    border: 10px black;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 100px;
    cursor: pointer;
    background: lightgray;
    margin-bottom: 60px;
}

.video {
    text-align: center;
}

#freehostingH2 {
    background-color: lightgray;
    padding: 25px 25px 25px 25px;
}

#email-h2 {
    font-family: 'Roboto', sans-serif;
}


/* Pricing boxes are found below here ! Make sure to include flex for test pass !*/

#pricing-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}

.option {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border: 5px solid black;
    border-radius: 5px;
    margin: 10px;
    width: calc(100% / 3);
}

.option>button {
    border: 0px;
    background-color: lightgray;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    cursor: pointer;
    margin: 15px 0;
}

.option>h2 {
    margin-top: 20px;
}

.option>ul {
    padding: 10px 0;
}

.option>ul>li {
    padding: 5px o;
}

.option>.package-level {
    margin-top: 15px;
    width: 100%;
    background-color: lightgray;
    padding: 10px 0;
}